## Data Structures - Python

#### 1 - Arrays

In [1]:
array1 = [10,15,20,25,30]
array1

[10, 15, 20, 25, 30]

In [2]:
type(array1)

list

In [12]:
# adding element 
array1.insert(1, 60)
print(array1)
# remove element
array1.remove(60)
print(array1)
#search element - gives index number
array1.index(30)

[10, 60, 15, 20, 25, 30]
[10, 15, 20, 25, 30]

4

#### 2 - Lists

In [17]:
list1 = ['a', 'b', 'c', 'd', 'e', 'f']
# deletes list
del list1[1]
print(list1)

['a', 'c', 'd', 'e', 'f']

In [19]:
[ x for x in list1]

['a', 'c', 'd', 'e', 'f']

#### 3 - Arrays

In [21]:
T = [[11, 12, 5, 2], [15, 6,10], [10, 8, 12, 5], [12,15,8,6]]
T.insert(2, [10,10,10,10])

In [30]:
for r in T:
    for c in r:
        print(c, end= " ")
    print()

11 12 5 2
15 6 10
10 10 10 10
10 8 12 5
12 15 8 6

In [33]:
# to delete 2nd index
del T[2]

In [35]:
print(T)

[[11, 12, 5, 2], [15, 6, 10], [10, 8, 12, 5], [12, 15, 8, 6]]

#### 4 - Matrix

In [55]:
import numpy as np
from numpy import *

In [54]:
a = np.array([['mon', 18,2,1,1,1], ['Tue', 1,1,2,4,5], ['wed', 1,2,3,4,5]])
print(a.shape) # 2,6
print(a)
print('\n')
m = a.reshape((6,3))
print(m)
print(m[0][2])
# append
m_add = np.append(m, [['thus', 1,2,3,4,5]])
print('\n')
print(m_add)

(3, 6)
[['mon' '18' '2' '1' '1' '1']
 ['Tue' '1' '1' '2' '4' '5']
 ['wed' '1' '2' '3' '4' '5']]


[['mon' '18' '2']
 ['1' '1' '1']
 ['Tue' '1' '1']
 ['2' '4' '5']
 ['wed' '1' '2']
 ['3' '4' '5']]
2


['mon' '18' '2' '1' '1' '1' 'Tue' '1' '1' '2' '4' '5' 'wed' '1' '2' '3'
 '4' '5' 'thus' '1' '2' '3' '4' '5']

In [85]:
m = array([['mon', 18,2,1,1,1], ['Tue', 1,1,2,4,5], ['wed', 1,2,3,4,5]])
m

array([['mon', '18', '2', '1', '1', '1'],
       ['Tue', '1', '1', '2', '4', '5'],
       ['wed', '1', '2', '3', '4', '5']], dtype='<U3')

In [69]:
m = delete(m, [1], 1)

In [71]:
print(m)

[['mon' '2' '1' '1' '1']
 ['Tue' '1' '2' '4' '5']
 ['wed' '2' '3' '4' '5']]

In [84]:
m

array([['Mon', '18', '20', '22', '17'],
       ['Tue', '11', '18', '21', '18'],
       ['Wed', '15', '21', '20', '19'],
       ['Thu', '0', '0', '0', '0'],
       ['Fri', '18', '17', '23', '22'],
       ['Sat', '12', '22', '20', '18'],
       ['Sun', '13', '15', '19', '16']], dtype='<U3')

In [91]:
from numpy import * 
m = array([['Mon',18,20,22,17],['Tue',11,18,21,18],
		   ['Wed',15,21,20,19],['Thu',11,20,22,21],
		   ['Fri',18,17,23,22],['Sat',12,22,20,18],
		   ['Sun',13,15,19,16]])
    
m[3] = ['Thu',0,0,0,0]

print(m)

[['Mon' '18' '20' '22' '17']
 ['Tue' '11' '18' '21' '18']
 ['Wed' '15' '21' '20' '19']
 ['Thu' '0' '0' '0' '0']
 ['Fri' '18' '17' '23' '22']
 ['Sat' '12' '22' '20' '18']
 ['Sun' '13' '15' '19' '16']]

#### 4 - Sets

In [92]:
days = set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
days

{'Fri', 'Mon', 'Sat', 'Sun', 'Thu', 'Tue', 'Wed'}

In [93]:
for d in days:
    print(d)

Mon
Sun
Fri
Sat
Thu
Wed
Tue

In [95]:
days.add("Sun")
print(days)

{'Mon', 'Sun', 'Fri', 'Sat', 'Thu', 'Wed', 'Tue'}

In [96]:
days.remove("Sun")

In [97]:
days

{'Fri', 'Mon', 'Sat', 'Thu', 'Tue', 'Wed'}

In [100]:
days.discard("Mon")

In [101]:
days

{'Fri', 'Sat', 'Thu', 'Tue', 'Wed'}

In [107]:
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Wed","Thu","Fri","Sat","Sun"])

union = DaysA | DaysB
print(union)

intersect = DaysA & DaysB
print(intersect)

diff = DaysA - DaysB
print(diff)

DaysA1 = set(["Mon","Tue","Wed"])
DaysB1 = set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])

subset = DaysA1 <= DaysB1
print(subset)

superset = DaysB1 >= DaysA1
print(superset)

{'Mon', 'Sun', 'Fri', 'Sat', 'Thu', 'Wed', 'Tue'}
{'Wed'}
{'Mon', 'Tue'}
True
True

#### 5 - Maps i.e. Chain Maps

In [109]:
# if duplicate then only one is preserved
import collections

dict1 = {'day1': 'Mon', 'day2': 'Tue'}
dict2 = {'day3': 'Wed', 'day4': 'Thus'}

res = collections.ChainMap(dict1, dict2)

In [124]:
print(res)
print(type(res))
print(type((res.keys())))
print(type(res.values()))
print(type(res.items()))

ChainMap({'day1': 'Mon', 'day2': 'Tue'}, {'day3': 'Wed', 'day4': 'Thus'})
<class 'collections.ChainMap'>
<class 'collections.abc.KeysView'>
<class 'collections.abc.ValuesView'>
<class 'collections.abc.ItemsView'>

In [130]:
print(res.maps)
print('---')
print(res.keys())
print('---')
print(res.values())
print('---')
print(res.items())
print()
print(list(res.keys()))
print('---')
print(list(res.values()))
print('---')
print('- Items', list(res.items()))
print()
print("elements:")
for keys, val in (res.items()): #same as list(res.items())
    print('{} = {}'.format(keys, val))
print('---')
print('---')

[{'day1': 'Mon', 'day2': 'Tue'}, {'day3': 'Wed', 'day4': 'Thus'}]
---
KeysView(ChainMap({'day1': 'Mon', 'day2': 'Tue'}, {'day3': 'Wed', 'day4': 'Thus'}))
---
ValuesView(ChainMap({'day1': 'Mon', 'day2': 'Tue'}, {'day3': 'Wed', 'day4': 'Thus'}))
---
ItemsView(ChainMap({'day1': 'Mon', 'day2': 'Tue'}, {'day3': 'Wed', 'day4': 'Thus'}))

['day3', 'day4', 'day1', 'day2']
---
['Wed', 'Thus', 'Mon', 'Tue']
---
- Items [('day3', 'Wed'), ('day4', 'Thus'), ('day1', 'Mon'), ('day2', 'Tue')]

elements:
day3 = Wed
day4 = Thus
day1 = Mon
day2 = Tue
---
---

In [132]:
dict2['day4'] = 'Fri'

In [133]:
dict2

{'day3': 'Wed', 'day4': 'Fri'}